:root {
  --clr-primary: #f0f0f0;
  --clr-darker: #e9e9e9;
  --clr-red: #cc3a3a;
  --typewriterSpeed: 6s;
  --typewriterCharacters: 15;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
h1 {
  color: #fff;
  text-shadow: 5px 6px 8px rgba(0, 0, 0, 0.3);
  font-size: 6rem;
  width: 100%;
  font-weight: 700;
  text-align: center;
  white-space: nowrap;
}
/*********NAVBAR*************/
.header-container {
  background: #fff;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.header-container img {
  position: relative;
  height: 100%;
  left: 2%;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu-item + .menu-item {
  margin-left: 2rem;
}
.menu-item:hover:not(:last-child),
.menu-item:focus:not(:last-child) {
  border-bottom: 3px solid rgb(20, 16, 32);
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  outline: none;
}

.menu-item:last-child {
  margin-right: 1.5rem;
  background: var(--clr-red);
  padding: 0.8rem 1.8rem;
  border-radius: 100vh;
}

.menu-item:last-child .menu-item__link {
  color: #fff;
}
.menu-item {
  border-bottom: 3px solid transparent;
}
.menu-item__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
}

.menuBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.75rem;
  height: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menuBtn-burger {
  width: 100%;
  height: 5px;
  background: var(--clr-red);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.menuBtn-burger::before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-0.7rem);
  -ms-transform: translateY(-0.7rem);
  transform: translateY(-0.7rem);
  width: 100%;
  height: 5px;
  background: var(--clr-red);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menuBtn-burger::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(0.7rem);
  -ms-transform: translateY(0.7rem);
  transform: translateY(0.7rem);
  width: 100%;
  height: 5px;
  background: var(--clr-red);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menuBtn.open .menuBtn-burger {
  background: transparent;
}
.menuBtn.open .menuBtn-burger::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menuBtn.open .menuBtn-burger::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*********HERO*************/
.hero-container {
  max-width: 100%;
  height: 44rem;
  position: relative;
}
.hero-container h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.hero {
  background: url(../images/background_images/contact-hero.jpg);
  max-width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position-y: -20rem;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(50%);
  filter: brightness(50%);
}
/*********MAIN CONTENT*************/
main {
  max-width: 100%;
  min-height: 100vh;
}
.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.main-title {
  margin-top: 2rem;
  margin-bottom: 1.5rem;
  font-size: 2rem;
  font-weight: 600;
  position: relative;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.main-title::before,
.main-title::after {
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}
.main-title::before {
  background: #fff;
  -webkit-animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 0.8s forwards;
  animation: typewriter var(--typewriterSpeed)
    steps(var(--typewriterCharacters)) 0.8s forwards;
}
.main-title::after {
  width: 0.125em;
  background: black;
  -webkit-animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 0.8s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
  animation: typewriter var(--typewriterSpeed)
      steps(var(--typewriterCharacters)) 0.8s forwards,
    blink 750ms steps(var(--typewriterCharacters)) infinite;
}
@-webkit-keyframes typewriter {
  to {
    left: 100%;
  }
}
@keyframes typewriter {
  to {
    left: 100%;
  }
}

@-webkit-keyframes blink {
  to {
    background: transparent;
  }
}

@keyframes blink {
  to {
    background: transparent;
  }
}
.main-form {
  display: inherit;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.main-form label {
  font-size: 1.2rem;
  margin-top: 1rem;
  margin-bottom: 0.6rem;
}
.main-form__input {
  background: var(--clr-darker);
  border: none;
  border-radius: 2px;
  padding: 0.7rem 6rem;
  -webkit-box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: -2px 3px 8px rgba(0, 0, 0, 0.3);
  text-align: center;
  width: 50%;
  height: 2.5rem;
}
.main-form__input:nth-child(10) {
  height: 7rem;
  resize: none;
}
.main-form__submit {
  margin-right: 1.5rem;
  background: var(--clr-red);
  padding: 1rem 3rem;
  border-radius: 100vh;
  color: #fff;
  border: none;
  font-size: 1.2rem;
  font-weight: 600;
  margin-top: 2rem;
  margin-bottom: 2rem;
  cursor: pointer;
}
.main-form__checkbox {
  margin-right: 1rem;
}
.main-form__checkbox-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}
.main-form__checkbox-wrapper label {
  margin: -0.3rem;
}
.main-form__checkbox-wrapper > span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 2rem;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
}
/*********FOOTER*************/
footer {
  max-width: 100%;
  background: url(../images/background_images/footer-background.jpg);
  max-width: 100%;
  height: 20rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-item + .social-item {
  margin-left: 18rem;
}
.social-item {
  list-style: none;
}
.social-item img {
  width: 6rem;
  height: 6rem;
}
@media screen and (max-width: 1201px) {
  .hero {
    background-position: center;
  }
  .social-item + .social-item {
    margin-left: 15rem;
  }
}
@media screen and (max-width: 1025px) {
  .h1 {
    font-size: 5rem;
  }
  .hero-container {
    height: 30rem;
  }
  .hero {
    background-position: center;
  }
  .main-form__input:nth-child(10) {
    padding: 2rem 4rem;
  }
  .main-form__checkbox-wrapper {
    margin: 0 1.5rem;
  }
  .social-item + .social-item {
    margin-left: 8rem;
  }
  footer {
    height: 15rem;
    background-position-y: 2.5rem;
  }
}
@media screen and (max-width: 769px) {
  h1 {
    font-size: 5rem;
  }
  .hero-container {
    width: 100%;
  }
  .hero {
    background-position-x: -15rem;
    background-position-y: -10rem;
  }
  .menu-wrapper {
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    width: 100%;
    height: 200vh;
    left: 0%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 4;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-item:first-of-type {
    margin-top: 5rem;
  }
  .menu-item + .menu-item {
    margin: 1.5rem auto;
  }
  .menu-item__link {
    font-size: 1.75rem;
  }
  .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
  }

  .social-item img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .social-item + .social-item {
    margin-left: 4.5rem;
  }
}
@media screen and (max-width: 481px) {
  h1 {
    white-space: normal;
  }
  .main-title {
    font-size: 1.7rem;
  }
  .menu-item__link {
    font-size: 2rem;
  }
  .hero-container {
    height: 23rem;
  }
  .hero {
    background-position: -38rem -23rem;
  }
  .main-form__input {
    max-width: 80%;
    width: 100%;
  }
  .main-form__input:nth-child(10) {
    width: 80%;
  }
  .social-item + .social-item {
    margin-left: 2rem;
  }
  .social-item img {
    width: 4rem;
    height: 4rem;
  }
}
