:root {
  --clr-primary: #f0f0f0;
  --clr-darker: #d3d3d3;
  --clr-red: #cc3a3a;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}
html {
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
}
h1 {
  color: #fff;
  text-shadow: 5px 6px 8px rgba(0, 0, 0, 0.3);
  font-size: 6rem;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  position: relative;
  font-weight: 700;
  text-align: center;
  max-width: 100%;
  white-space: nowrap;
}

/*********NAVBAR*************/
.header-container {
  background: #fff;
  max-width: 100%;
  width: 100%;
  height: 5rem;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  box-shadow: 2px 3px 8px rgba(0, 0, 0, 0.3);
  z-index: 3;
}
.header-container img {
  position: relative;
  height: 100%;
  left: 2%;
}
.menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  list-style: none;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.menu-item + .menu-item {
  margin-left: 2rem;
}
.menu-item:hover:not(:last-child),
.menu-item:focus:not(:last-child) {
  border-bottom: 3px solid rgb(20, 16, 32);
  -webkit-transition: all 0.7s ease-in-out;
  -o-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  outline: none;
}

.menu-item:last-child {
  margin-right: 1.5rem;
  background: var(--clr-red);
  padding: 0.8rem 1.8rem;
  border-radius: 100vh;
}

.menu-item:last-child .menu-item__link {
  color: #fff;
}
.menu-item {
  border-bottom: 3px solid transparent;
}
.menu-item__link {
  text-decoration: none;
  color: #000;
  font-weight: 500;
  font-size: 1.25rem;
}

.menuBtn {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  right: 5%;
  display: none;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 2.75rem;
  height: 2rem;
  cursor: pointer;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menuBtn-burger {
  width: 100%;
  height: 5px;
  background: var(--clr-red);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
  pointer-events: none;
}

.menuBtn-burger::before {
  content: "";
  position: absolute;
  -webkit-transform: translateY(-0.7rem);
  -ms-transform: translateY(-0.7rem);
  transform: translateY(-0.7rem);
  width: 100%;
  height: 5px;
  background: var(--clr-red);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menuBtn-burger::after {
  content: "";
  position: absolute;
  -webkit-transform: translateY(0.7rem);
  -ms-transform: translateY(0.7rem);
  transform: translateY(0.7rem);
  width: 100%;
  height: 5px;
  background: var(--clr-red);
  border-radius: 5px;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}
.menuBtn.open .menuBtn-burger {
  background: transparent;
}
.menuBtn.open .menuBtn-burger::before {
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}
.menuBtn.open .menuBtn-burger::after {
  -webkit-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  transform: rotate(-45deg);
}
/*********HERO*************/
.hero-container {
  max-width: 100%;
  height: 46rem;
  position: relative;
}
.hero-container h1 {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
  z-index: 1;
}

.hero {
  background: url(../images/background_images/main-hero.jpg);
  max-width: 100%;
  height: 100%;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-filter: brightness(60%);
  filter: brightness(60%);
}
/*********CARDS*************/
main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  max-width: 100%;
  background: #fff;
  height: 35rem;
}
main p {
  font-size: 1.5rem;
  text-align: center;
}
.cards-holder {
  width: 80%;
  background: var(--clr-primary);
  border-radius: 2rem;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-shadow: -5px 7px 8px rgba(0, 0, 0, 0.3);
  box-shadow: -5px 7px 8px rgba(0, 0, 0, 0.3);
  -webkit-transform: translateY(-1.75rem);
  -ms-transform: translateY(-1.75rem);
  transform: translateY(-1.75rem);
}
.big-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.card + .card {
  margin-left: 40rem;
}
.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  max-width: 35ch;
  padding: 1.5rem;
}
.single-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-box-shadow: -5px 7px 8px rgba(0, 0, 0, 0.3);
  box-shadow: -5px 7px 8px rgba(0, 0, 0, 0.3);
  border-radius: 2rem;
  -webkit-transform: translateY(-2.25rem);
  -ms-transform: translateY(-2.25rem);
  transform: translateY(-2.25rem);
  position: absolute;
  max-width: 35%;
  background: var(--clr-primary);
}
.single-card img {
  width: 8rem;
}
.card-img {
  width: 7rem;
  margin-bottom: 3.5rem;
  margin-top: 1rem;
}
/*********INFO SECTION*************/
.info-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  background: var(--clr-darker);
  max-width: 100%;
  height: 35rem;
}
.info-container__image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.info-container__image img {
  height: 30rem;
  border-radius: 100vh;
}
.info-container__content {
  display: inherit;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 100%;
}
.info-container__content > * {
  margin-left: 2.25rem;
}
.info-container__content h2 {
  margin-top: -8rem;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}
.info-container__content h3 {
  margin-bottom: 2rem;
  font-size: 1.5rem;
}
.info-container__content p {
  font-size: 1.2rem;
}
.info-container__content p:last-child {
  margin-top: 4rem;
}

/*********FOOTER*************/
footer {
  max-width: 100%;
  background: url(../images/background_images/footer-background.jpg);
  max-width: 100%;
  height: 20rem;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.social-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.social-item + .social-item {
  margin-left: 18rem;
}
.social-item {
  list-style: none;
}
.social-item img {
  width: 6rem;
  height: 6rem;
}
@media screen and (max-width: 1201px) {
  main {
    height: 32.5rem;
  }

  .info-container__image img {
    margin-left: 1.2rem;
    height: 27rem;
  }
  .cards-holder {
    width: 90%;
  }
  .card + .card {
    margin-left: 30rem;
  }
  .info-container__content {
    margin-left: 2rem;
  }
  .info-container__content h2 {
    margin-top: 1rem;
  }
  .social-item + .social-item {
    margin-left: 15rem;
  }
}
@media screen and (max-width: 1025px) {
  .h1 {
    font-size: 5rem;
  }
  .hero-container {
    height: 40rem;
  }
  main {
    height: 30rem;
  }
  main p {
    font-size: 1.2rem;
  }
  .cards-holder {
    height: 28rem;
    width: 100%;
  }
  .card + .card {
    margin-left: 25rem;
  }
  .card-img {
    margin-bottom: 2.8rem;
  }
  .info-container__image img {
    height: 22rem;
    width: 30rem;
  }
  .info-container__content > * {
    margin-left: 0;
  }
  .info-container__content h2 {
    font-size: 2.1rem;
  }
  .info-container__content h3 {
    font-size: 1.2rem;
  }
  .info-container__content p {
    font-size: 0.9rem;
  }
  .social-item + .social-item {
    margin-left: 8rem;
  }
  footer {
    height: 15rem;
    background-position-y: 2.5rem;
  }
}
@media screen and (max-width: 769px) {
  h1 {
    font-size: 5rem;
  }
  .hero-container {
    width: 100%;
  }
  .hero {
    width: 100%;
  }
  .menu-wrapper {
    -webkit-transition: all 0.7s ease-in-out;
    -o-transition: all 0.7s ease-in-out;
    transition: all 0.7s ease-in-out;
  }
  .menu {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: absolute;
    background: rgba(255, 255, 255, 0.9);
    top: 0;
    width: 100%;
    height: 200vh;
    left: 0%;
    -webkit-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    transform: translateY(-100%);
    z-index: 4;
    -webkit-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
  }
  .menu-item:first-of-type {
    margin-top: 5rem;
  }
  .menu-item + .menu-item {
    margin: 1.5rem auto;
  }
  .menu-item__link {
    font-size: 1.75rem;
  }
  .menuBtn {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    z-index: 5;
  }
  .cards-holder {
    width: 100%;
    border-radius: 0;
  }
  .single-card {
    max-width: 40%;
  }
  .info-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 40rem;
  }
  .info-container__image {
    background: url(../images/background_images/info-image.jpg);
    width: 100%;
    height: 100%;
    border-radius: 0;
    margin-left: 0;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  .info-container__image img {
    display: none;
  }
  .info-container__content > * {
    text-align: center;
  }
  .info-container__content h3 {
    font-size: 1.5rem;
  }
  .info-container__content p {
    font-size: 1rem;
  }
  .info-container__content p:last-child {
    margin-bottom: 2rem;
  }
  .social-item img {
    width: 4.5rem;
    height: 4.5rem;
  }
  .social-item + .social-item {
    margin-left: 4.5rem;
  }
}
@media screen and (max-width: 481px) {
  h1 {
    font-size: 3rem;
    white-space: pre-wrap;
  }
  .menu-item__link {
    font-size: 2rem;
  }
  .hero-container {
    height: 37rem;
  }

  main {
    height: 75rem;
  }
  .cards-holder {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    height: 100%;
    margin-top: -0.5rem;
    margin-bottom: -4rem;
  }
  .big-card {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-transform: translateY(7rem);
    -ms-transform: translateY(7rem);
    transform: translateY(7rem);
  }
  .card {
    max-width: 100%;
    padding: 0;
  }
  .card + .card {
    margin-top: 10rem;
  }

  #carkeyCard {
    -webkit-transform: translateX(-25rem);
    -ms-transform: translateX(-25rem);
    transform: translateX(-25rem);
  }
  #carkeyCard p {
    max-width: 35ch;
  }
  .single-card {
    border-radius: 0;
    -webkit-transform: translateY(-25rem);
    -ms-transform: translateY(-25rem);
    transform: translateY(-25rem);
    width: 100%;
    -webkit-box-shadow: none;
    box-shadow: none;
    height: 26.5rem;
  }
  .info-container {
    height: 45rem;
  }
  .info-container__image {
    background-position-x: -10rem;
  }
  .info-container__content {
    margin-left: 0;
  }
  .social-item + .social-item {
    margin-left: 2rem;
  }
  .social-item img {
    width: 4rem;
    height: 4rem;
  }
}
